version: "3.8"

services:
  # NATS
  nats:
    image: nats:2.9-alpine
    container_name: eco_nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: "-js -m 8222"
    networks:
      - eco_net

  # InfluxDB
  influxdb:
    image: influxdb:2.7-alpine
    container_name: eco_influx
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password12345 # TODO: Смените в будущем
      - DOCKER_INFLUXDB_INIT_ORG=eco-org
      - DOCKER_INFLUXDB_INIT_BUCKET=environment_metrics
    volumes:
      - influxdb_data:/var/lib/influxdb2
    networks:
      - eco_net

networks:
  eco_net:
    driver: bridge

volumes:
  influxdb_data:
